body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #111;
}

.calculator {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

#display {
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 15px;
  font-size: 2em;
  text-align: right;
  border: none;
  background-color: #222;
  border-radius: 5px;
  color: #0099ff; /* Azul para los números */
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 15px;
  font-size: 1.5em;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}
